{% extends "base.html" %}

{% block title %}Board View{% endblock %}

{% block prehead %}
{% include "navbar.html" %}
{% endblock %}

{% block precontainer %}
{{ csrf_token()|safe }}

<!-- edit board name modal -->
<div id="edit-board-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><span class="boardname"></span></h3>
    </div>
    <div class="modal-body">
        <form method="PUT" id="board-form" class="form-horizontal" data-url="{{ url_for('board.view_board', boardid=boardid) }}">
        <div class="control-group">
            <label class="control-label" for="boardname">Board name</label>
            <div class="controls">
                <input type="text" id="boardname" name="name" placeholder="board name"/>
                <button class="btn btn-info">Update</button>
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>

<!-- new list modal dialog -->
<div id="modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>New List</h3>
    </div>
    <div class="modal-body">
        <form method="POST" id="list-form" class="form-horizontal" data-url="{{ url_for('board.new_list', boardid=boardid) }}">
        <div class="control-group">
            <label class="control-label" for="listname">List name</label>
            <div class="controls">
                <input type="text" id="listname" name="name" placeholder="list name"/>
                <button class="btn btn-info">Add</button>
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>


<div class="board-container container">
    <div class="row">
        <!-- header -->
        <div class="span12">
            <h4>
                <span class="boardname"></span>
                <button class="btn"
                data-toggle="modal"
                data-target="#edit-board-modal"><i class="icon-pencil"></i></button>
            </h4>
        </div>

        <!-- board -->
        <div class="span10">
            <div class="board" >
                <div id="list-list" class="row-fluid">
                </div>
            </div>
        </div>

        <!-- right menu -->
        <div class="span2">
            <h4>Members</h4>
                <ul class="inline">
                    <li><span class="gravatar-mini" data-email="{{ g.user['email'] }}"></span></li>
                </ul>
                <div class="board-buttons">
                <button class="btn"><i class="icon-user"></i> Add Members</button>
                </div>
            <h4>Board</h4>
                <div class="board-buttons">
                <button class="btn" data-toggle="modal" data-target="#modal"><i class="icon-list"></i> Add List</button>
                <button class="btn"><i class="icon-wrench"></i> Options</button>
                </div>
            <h4>Activity</h4>
        </div>

    </div><!-- row -->
</div><!-- container -->

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/template" id="list-template">
        <div class="header">
        <span class="name"><%- name %></span>
        <a href="#" class="close" onclick="delete_list('/api/boards/{{ boardid }}/lists/<%= id %>/'); return false;">&times;</a>
        </div>
        <div class="cards"></div>
        <div class="newcardform"></div>
        <div class="newcard muted">Add a card...</div>
    </script>

    <script type="text/template" id="task-template">
        <span class="description"><%- description %></span>
    </script>

    <!-- new task form -->
    <script type="text/template" id="new-task-template">
        <form method="POST" data-url="/api/boards/{{ boardid }}/lists/<%= id %>/tasks/new/" class="form">
            <div class="description">
            <textarea name="description"></textarea>
            </div>
            <input class="btn btn-info" type="submit" value="Add"/>
            <a href="#" class="close">&times;</a>
        </form>
    </script>
    <script type="text/javascript">
        function task_new_card_form(p, obj) {
            if (p.find("#task-"+obj.id).length > 0) {
                p.find("textarea").focus();
                return;
            }

            var template = _.template($('#new-task-template').html());
            var tmpl = template({id: obj.get('id')});
            p.prepend(tmpl);
            p.find("form").attr("id", "task-"+obj.id);
            p.find(".close").click(function() {
                $(this).parent().remove();
            });

            p.find("textarea").focus();

            ftask_form("#task-"+obj.id,
                       function(data) {
                            alert("ERROR");
                       },
                       function(data) {
                            $("#task-"+obj.id).remove();
                            sync();
                       });
        }
    </script>

    <!-- doubleclick list name update -->
    <script type="text/template" id="edit-listname-template">
        <form method="PUT" data-url="/api/boards/{{ boardid }}/lists/<%= id %>/" class="form-horizontal">
            <input type="text" name="name" value="<%- name %>" class="input-small"/>
            <input class="btn btn-info" type="submit" value="Save"/>
            <a href="#" class="close">&times;</a>
        </form>
    </script>
    <script type="text/javascript">
        function show_form(p, obj) {
            if (p.find("#name-"+obj.id).length > 0) {
                return;
            }

            var template = _.template($('#edit-listname-template').html());
            var tmpl = template({id: obj.get('id'), name: obj.get('name')});
            p.prepend(tmpl);
            p.find(".close").click(function() {
                $(this).parent().remove();
            });
            p.find("form").attr("id", "name-"+obj.id);

            ftask_form("#name-"+obj.id,
                       function(data) {
                            alert("ERROR");
                       },
                       function(data) {
                            $(this).remove();
                            sync();
                       });
        }
    </script>

    <!-- list drag and drop -->
    <script type="text/javascript">
        var list_drag = null;
        function swap_lists(obj1, obj2) {
            if (obj1[0].offsetLeft < obj2[0].offsetLeft) {
                obj1.detach();
                obj1.insertAfter(obj2);
            } else {
                obj1.detach();
                obj1.insertBefore(obj2);
            }
        }

        function handleDrop(e) {
            if (e.stopPropagation) {
                e.stopPropagation();
            }

            // Change model order attr and update
            $(".list").each(function(i, l) {
                var obj = $(l);
                var view = _.find(views, function(v) { return v.model.id === obj.attr("id") });

                var url = '/api/boards/{{ boardid }}/lists/'+view.model.id+'/';
                var token = $("#csrf_token").val();
                var data = {'_csrf_token': token, 'order': i};
                var req = $.ajax({url:url, data:data, type:"PUT"});
                req.done(function(data) {
                    ftask_update_csrf();
                });
                req.fail(function(data) {
                    ftask_update_csrf();
                });
            });

            return false;
        }

        function handleDragStart(e) {
            $(this).css("opacity", 0.4);
            e.dataTransfer.effectAllowed = 'move';
            list_drag = $(this).attr("id");
            e.dataTransfer.setData('text/html', $(this).attr("id"));
            return true;
        }

        function handleDragEnd(e) {
            $(this).css("opacity", 1);
        }

        function handleDragOver(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }
            var dragObj = $("#" + list_drag);
            if ($(this).attr("id") != dragObj.attr("id")) {
                swap_lists(dragObj, $(this));
            }
            e.dataTransfer.dropEffect = 'move';
            return true;
        }

        function make_draggable(el) {
            el.attr("draggable", "true");
            var e = document.getElementById(el.attr("id"));
            e.addEventListener('dragstart', handleDragStart, false);
            e.addEventListener('dragend', handleDragEnd, false);
            e.addEventListener('dragover', handleDragOver, false);
            e.addEventListener('dragover', handleDragOver, false);
            e.addEventListener('drop', handleDrop, false);
        }

        // jquery-ui drag
        function make_task_draggable(el) {
            $(el).draggable({
                containment: ".board",
                cursor: "move",
                start: dragTaskStart,
                stop: dragTaskStop,
                helper: dragTaskHelper
            });

            $(el).droppable({
                over: dropTaskOver,
            });
        }

        function make_list_draggable(el) {
            $(el).draggable({
                //containment: ".board",
                cursor: "move",
                start: dragListStart,
                stop: dragListStop,
                helper: dragListHelper
            });
        }

        function make_list_droppable(el) {
            $(el).droppable({
                over: function(e, ui) {
                    var o1 = ui.draggable;
                    if (o1.hasClass("task")) {
                        $(this).find(".cards").prepend(o1);
                    } else {
                        var o2 = $(this);
                        if (o2.offset().left < o1.offset().left) {
                            o1.insertBefore(o2);
                        } else {
                            o1.insertAfter(o2);
                        }
                    }
                },
                tolerance: "pointer"
            });

            $(el).find(".header").droppable({
                over: function(e, ui) {
                    var o1 = ui.draggable;
                    if (o1.hasClass("task")) {
                        $(this).parent().find(".cards").prepend(o1);
                    }

                }
            });
        }

        // task drag functions
        function dragTaskHelper(e) {
            var helper = $(this).clone();
            helper.addClass("dragging");
            return helper;
        }

        function dragTaskStart(e, ui) {
            $(this).addClass("dragging-freeze");
        }

        function dragTaskStop(e, ui) {
            $(this).removeClass("dragging-freeze");
            // TODO send data movement to server
            // * Change task listid
            // * Reorder this list
        }

        function dropTaskOver(e, ui) {
            var o1 = ui.draggable;
            var o2 = $(this);
            if (o1.hasClass("task")) {
                o1.insertAfter(o2);
            }
        }

        // list drag function
        function dragListHelper(e) {
            var helper = $(this).clone();
            helper.addClass("dragging");
            helper.width($(this).width());
            return helper;
        }

        function dragListStart(e, ui) {
            $(this).addClass("dragging-freeze");
        }

        function dragListStop(e, ui) {
            $(this).removeClass("dragging-freeze");
            // TODO send data movement to server
            // * Change task listid
            // * Reorder this list
        }
    </script>

    <!-- backbone base -->
    <script type="text/javascript">
        var List = Backbone.Model.extend({
            idAttribute: "id"
        });
        var Lists = Backbone.Collection.extend({
            model: List,
            parse: function(response) {
                var models = new Array();
                for (var i=0; i<response.meta.total; i++) {
                    var model = new List(response.objects[i]);
                    model.on("change:order", update_order);
                    models.push(model);
                }
                return models;
            },
            url: '/api/boards/{{ boardid }}/lists/'
        });

        var ListView = Backbone.View.extend({
            tagName: "div",
            className: "list span3",
            template: _.template($('#list-template').html()),

            initialize: function() {
                this.listenTo(this.model, 'change', this.render);
                this.listenTo(this.model, 'destroy', this.remove);
            },

            render: function() {
                this.$el.html(this.template(this.model.toJSON()));
                var model = this.model;
                this.$el.find(".name").dblclick(function() {
                    show_form($(this), model);
                });
                this.$el.find(".newcard").click(function() {
                    task_new_card_form($(this).prev(), model);
                });
                this.$el.attr("id", model.id);

                return this;
            },

        });
    </script>

    <!-- backbone task base -->
    <script type="text/javascript">
        var Task = Backbone.Model.extend({
            idAttribute: "id"
        });
        var Tasks = Backbone.Collection.extend({
            model: Task,
            parse: function(response) {
                var models = new Array();
                for (var i=0; i<response.meta.total; i++) {
                    var model = new List(response.objects[i]);
                    model.on("change:order", task_update_order);
                    models.push(model);
                }
                return models;
            },
            url: function() {
                return '/api/boards/{{ boardid }}/lists/' + this.lurl + '/tasks/';
            }
        });

        var TaskView = Backbone.View.extend({
            tagName: "div",
            className: "task",
            template: _.template($('#task-template').html()),

            initialize: function() {
                this.listenTo(this.model, 'change', this.render);
                this.listenTo(this.model, 'destroy', this.remove);
            },

            render: function() {
                this.$el.html(this.template(this.model.toJSON()));
                var model = this.model;
                this.$el.attr("id", model.id);

                return this;
            },

        });
    </script>

    <!-- this page stuff -->
    <script type="text/javascript">
        var ls = new Lists();
        var views = new Array();
        var taskviews = new Array();
        var taskcollections = new Array();
        ls.on("add", function(l) {
            var view = new ListView({model: l});
            var el = $(view.render().el);
            $("#list-list").append(el);

            //make_draggable(el);
            make_list_draggable(el);
            make_list_droppable(el);
            views.push(view);

            // task collection
            var tc = new Tasks();
            tc.lurl = l.id;
            tc.on("add", function(t) {
                var view = new TaskView({model: t});
                var el = $(view.render().el);
                $("#"+ t.get("listid") + " .cards").append(el);

                make_task_draggable(el);
                taskviews.push(view);
            });
            tc.on("remove", function(t) {
                var view = _.find(taskviews, function(v) { return v.model === t});
                view.remove();
                taskviews = _.filter(taskviews, function(v) { return v.model != t });
            });
            taskcollections.push(tc);
            tc.fetch({update: true});
        });
        ls.on("remove", function(l) {
            var view = _.find(views, function(v) { return v.model === l});
            view.remove();
            views = _.filter(views, function(v) { return v.model != l });
            // removing task view
            var tv = _.find(taskviews, function(tv) { return tv.model.get("listid") === l.id });
            tv.remove();
            taskviews = _.filter(taskviews, function(tv) { return tv.model.get("listid") != l.id });
            // removing task collection
            var tc = _.find(taskcollections, function(tc) { return tc.lurl === l.id });
            tc.remove();
            taskcollections = _.filter(taskcollections, function(tc) { return tc.lurl != l.id });

        });

        ls.fetch({update: true});

        update_board();

        ftask_form("#list-form",
                   function(data) {
                        alert("ERROR");
                   },
                   function(data) {
                        ls.fetch({update: true});
                        $("#modal").modal("hide");
                   });

        ftask_form("#board-form",
                   function(data) {
                        alert("ERROR");
                   },
                   function(data) {
                        $("#edit-board-modal").modal("hide");
                        update_board();
                   });

        setInterval('sync()', 5000);

        function delete_list(url) {
            var token = $("#csrf_token").val();
            var req = $.ajax({url:url + '?_csrf_token='+token, type:"DELETE"});
            req.done(function(data) {
                ls.fetch({update: true});
                ftask_update_csrf();
            });
            req.fail(function(data) {
                alert("ERROR");
                ftask_update_csrf();
            });
        }

        function update_order(model, neworder) {
            reorder_lists();
        }

        function task_update_order(model, neworder) {
            //reorder_lists();
        }

        function reorder_lists() {
            views = _.sortBy(views, function(v) {
                return v.model.get("order");
            });

            $("#list-list").empty();
            _.each(views, function(v) {
                var el = $(v.render().el);
                el.attr("id", v.model.id);
                $("#list-list").append(el);
            });

            _.each(taskviews, function(tv) {
                var el = $(tv.render().el);
                $("#"+ tv.model.get("listid") + " .cards").append(el);
            });
        }

        function update_board() {
            $.get('/api/boards/{{ boardid }}/', function(data) {
                $(".boardname").html(data.name);
                $("title").html($("title").html() + ' - ' + data.name);
            });
        }

        $('.gravatar-mini').each(function() {
            $(this).html($.gravatar($(this).data("email"), {'size': 30}));
        });

        function sync() {
            ls.fetch({update: true});
            _.each(taskcollections, function(tc) {
                tc.fetch({update: true});
            });
        }
    </script>

{% endblock %}
