{% extends "base.html" %}

{% block title %}Board View{% endblock %}

{% block prehead %}
{% include "navbar.html" %}
{% endblock %}

{% block precontainer %}
{{ csrf_token()|safe }}

<!-- edit board name modal -->
<div id="edit-board-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><span class="boardname"></span></h3>
    </div>
    <div class="modal-body">
        <form method="PUT" id="board-form" class="form-horizontal" data-url="{{ url_for('board.view_board', boardid=boardid) }}">
        <div class="control-group">
            <label class="control-label" for="boardname">Board name</label>
            <div class="controls">
                <input type="text" id="boardname" name="name" placeholder="board name"/>
                <button class="btn btn-info">Update</button>
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>

<!-- new list modal dialog -->
<div id="modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>New List</h3>
    </div>
    <div class="modal-body">
        <form method="POST" id="list-form" class="form-horizontal" data-url="{{ url_for('board.new_list', boardid=boardid) }}">
        <div class="control-group">
            <label class="control-label" for="listname">List name</label>
            <div class="controls">
                <input type="text" id="listname" name="name" placeholder="list name"/>
                <button class="btn btn-info">Add</button>
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>


<div class="board-container container">
    <div class="row">
        <!-- header -->
        <div class="span12">
            <h4>
                <span class="boardname"></span>
                <button class="btn"
                data-toggle="modal"
                data-target="#edit-board-modal"><i class="icon-pencil"></i></button>
            </h4>
        </div>

        <!-- board -->
        <div class="span10">
            <div class="board">
                <div id="list-list" class="row-fluid">
                </div>
            </div>
        </div>

        <!-- right menu -->
        <div class="span2">
            <h4>Members</h4>
                <ul class="inline">
                    <li><span class="gravatar-mini" data-email="{{ g.user['email'] }}"></span></li>
                </ul>
                <div class="board-buttons">
                <button class="btn"><i class="icon-user"></i> Add Members</button>
                </div>
            <h4>Board</h4>
                <div class="board-buttons">
                <button class="btn" data-toggle="modal" data-target="#modal"><i class="icon-list"></i> Add List</button>
                <button class="btn"><i class="icon-wrench"></i> Options</button>
                </div>
            <h4>Activity</h4>
        </div>

    </div><!-- row -->
</div><!-- container -->

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/template" id="list-template">
        <%= name %>
        <a href="#" class="close" onclick="delete_list('/api/boards/{{ boardid }}/lists/<%= id %>/'); return false;">&times;</a>
    </script>

    <script type="text/javascript">
        var List = Backbone.Model.extend({
            idAttribute: "id"
        });
        var Lists = Backbone.Collection.extend({
            model: List,
            parse: function(response) {
                var models = new Array();
                for (var i=0; i<response.meta.total; i++) {
                    var model = new List(response.objects[i]);
                    models.push(model);
                }
                return models;
            },
            url: '/api/boards/{{ boardid }}/lists/'
        });

        var ListView = Backbone.View.extend({
            tagName: "div",
            className: "list span3",
            template: _.template($('#list-template').html()),

            initialize: function() {
                this.listenTo(this.model, 'change', this.render);
                this.listenTo(this.model, 'destroy', this.remove);
            },

            render: function() {
                this.$el.html(this.template(this.model.toJSON()));
                return this;
            },

        });
    </script>

    <script type="text/javascript">
        var ls = new Lists();
        var views = new Array();
        ls.on("add", function(l) {
            var view = new ListView({model: l});
            $("#list-list").append(view.render().el);
            views.push(view);
        });
        ls.on("remove", function(l) {
            var view = _.find(views, function(v) { return v.model === l});
            view.remove();
            views = _.filter(views, function(v) { return v.model != l });
        });

        ls.fetch({update: true});

        update_board();

        ftask_form("#list-form",
                   function(data) {
                        alert("ERROR");
                   },
                   function(data) {
                        ls.fetch({update: true});
                        $("#modal").modal("hide");
                   });

        ftask_form("#board-form",
                   function(data) {
                        alert("ERROR");
                   },
                   function(data) {
                        $("#edit-board-modal").modal("hide");
                        update_board();
                   });

        setInterval('ls.fetch({update: true})', 5000);

        function delete_list(url) {
            var token = $("#csrf_token").val();
            var req = $.ajax({url:url + '?_csrf_token='+token, type:"DELETE"});
            req.done(function(data) {
                ls.fetch({update: true});
                ftask_update_csrf();
            });
            req.fail(function(data) {
                alert("ERROR");
                ftask_update_csrf();
            });
        }

        function update_board() {
            $.get('/api/boards/{{ boardid }}/', function(data) {
                $(".boardname").html(data.name);
                $("title").html($("title").html() + ' - ' + data.name);
            });
        }

        $('.gravatar-mini').each(function() {
            $(this).html($.gravatar($(this).data("email"), {'size': 30}));
        });
    </script>

{% endblock %}
