<html>

    <head>
        <title>Ftask</title>
    </head>

    <body>
        <ul id="user-list">
        </ul>


        <script src="http://underscorejs.org/underscore.js"></script>
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <script src="http://backbonejs.org/backbone.js"></script>

        <script type="text/template" id="user-template">
            <%= username %>: <%= email %>
        </script>

        <script>
            var User = Backbone.Model.extend({
                defaults: {
                    username: '',
                    email: 'user@example.org'
                }
            });

            var Users = Backbone.Collection.extend({
                model: User,
                parse: function(response) {
                    $("#user-list").empty();
                    var models = new Array();
                    for (var i=0; i<response.meta.total; i++) {
                        var model = new User(response.objects[i]);
                        var view = new UserView({model: model});
                        $("#user-list").append(view.render().el);
                        models.push(model);
                    }
                    return models;
                },
                url: '/api/users/'
            });

            var UserView = Backbone.View.extend({
                tagName: "li",
                template: _.template($('#user-template').html()),

                initialize: function() {
                    this.listenTo(this.model, 'change', this.render);
                    this.listenTo(this.model, 'destroy', this.remove);
                },

                render: function() {
                    this.$el.html(this.template(this.model.toJSON()));
                    return this;
                },

            });

            var ux = new Users();
            ux.fetch();

        </script>

    </body>

</html>
