.bold-list li{
    padding:2px 0;
    border-bottom:1px solid #dcdcdc;
    position:relative;
    zoom:1;
    padding: 3px 15px;
}

.bold-list li:hover, .bold-list li:hover a {
    color: rgb(255, 255, 255);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(0, 136, 204);
}

.board-title h3 {
    display: inline-block;
}

.board-title a {
    color: #aaa;
    padding-left: 10px;
}

.board-buttons button {
    width: 150px;
    margin-bottom: 10px;
}

.board {
    background-color: #393939;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.list {
    background-color: #E3E3E3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;

    margin-bottom: 10px;

   border-bottom: 1px solid #404040;
   border-top: 1px solid #FFFFFF;
}

.newcard {
    padding: 5px;
    margin: -10px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.newcard:hover {
    color: #393939;
    cursor: pointer;
    text-decoration: underline;
    background-color: #eee;
}

.description textarea {
    width: 100%;
    padding: 0px;
}

.task {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #B9B9B9 #B9B9B9 #939393;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    margin-bottom: 4px;
    min-height: 18px;
    padding: 6px 8px 1px;
    position: relative;
    transition-duration: 0.2s, 0.1s, 0.2s;
    transition-property: background, margin-bottom, opacity;
    transition-timing-function: ease-out;
    z-index: 0;
}

.task:hover {
    border-color: #393939;
    box-shadow: 0 0 4px #393939;
    background-color: #eee;
}

.memberimg {
    margin: 0px !important;
    padding: 0px !important;
}

.admin, .members {
    display: inline;
}

.member-lists {
    margin-bottom: 5px;
}
