{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block header %}
    <h1>Ftask Login</h1>
{% endblock %}

{% block content %}
<form method="POST" id="login-form" data-url="{{ url_for('auth.login') }}" data-next="{{ next }}">
    {{ csrf_token()|safe }}
    <input type="text" id="username" name="username" placeholder="username"/>
    <input type="password" id="password" name="password" placeholder="password"/>
    <input type="button" id="login" value="Login"/>
</form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        // TODO move this to a js file
        function on_login(data) {
            var next = $("#login-form").data("next");
            if (data.status === "success") {
                window.location.href = next;
            }
        }

        $("#login-form").submit(function() {
            var url = $("#login-form").data("url");
            var data = {'username': $("#username").val(),
                        'password': $("#password").val()};
            // TODO loading
            $.post(url, data, on_login)
            return false;
        });
    </script>
{% endblock %}
