{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block prehead %}
{% include "navbar.html" %}
{% endblock %}

{% block header %}
    <h1>{{ user['username'] }} Profile</h1>
{% endblock %}


{% block content %}

{{ csrf_token()|safe }}
<div class="row">
    <div class="span8">
    </div>
    <div class="span3">
        <div id="gravatar"> </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $('#gravatar').html($.gravatar("{{ g.user['email'] }}", {'size': 170}));
    </script>
{% endblock %}
