{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block prehead %}
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand" href="#">Ftask</a>
        <ul class="nav">
            <li class="active"><a href="#">Profile</a></li>
            <li class="pull-right"><a href="{{ url_for('boardi.list_board') }}">Boards</a></li>
        </ul>
        <div class="btn-group pull-right">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span id="gravatar-mini"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" id="logout">Log Out</a></li>
            <!-- dropdown menu links -->
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block header %}
    <h1>{{ user['username'] }} Profile</h1>
{% endblock %}


{% block content %}

{{ csrf_token()|safe }}
<div class="row">
    <div class="span8">
    </div>
    <div class="span3">
        <div id="gravatar"> </div>
        <form class="hide" method="POST" id="logout-form" data-url="{{ url_for('auth.logout') }}" data-next="{{ url_for('authi.login') }}">
            <input class="btn btn-warning" type="submit" value="Logout"/>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        ftask_form("#logout-form",
                   function(data) {
                        alert("ERROR");
                   });
        $('#gravatar').html($.gravatar("{{ g.user['email'] }}", {'size': 170}));
        $('#gravatar-mini').html($.gravatar("{{ g.user['email'] }}", {'size': 30}));

        $('#logout').click(function() {
            $('#logout-form').submit();
            return false;
        });
    </script>
{% endblock %}
