{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block header %}
<div class="row">
<div class="span4 offset4">
    <h2>
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="ftask"/>
    Register
    </h2>
</div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span4 offset4">
        <div class="well">
            <form method="POST" class="form" id="register-form" data-url="{{ url_for('auth.register') }}" data-next="{{ url_for('authi.login') }}">
                <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text" id="username" name="username" placeholder="username" autofocus/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="password"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="email" id="email" name="email" placeholder="email@example.com"/>
                    </div>
                </div>
                <input type="submit" class="btn btn-success btn-large" value="Create New Account"/>
            </form>
            <div>
                Already have an account? <a href="{{ url_for('authi.login') }}">Log In.</a>
            </div>
        </div><!-- well -->
    </div><!-- span -->
</div><!-- row -->
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        Ftask.form("#register-form",
                   function(data) {
                        alert("ERROR");
                   });
    </script>
{% endblock %}
