{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block header %}
    <h1>Ftask Register</h1>
{% endblock %}

{% block content %}
<form method="POST" id="register-form" data-url="{{ url_for('auth.register') }}" data-next="{{ url_for('authi.login') }}">
    {{ csrf_token()|safe }}
    <input type="text" id="username" name="username" placeholder="username"/>
    <input type="password" id="password" name="password" placeholder="password"/>
    <input type="email" id="email" name="email" placeholder="email@example.com"/>
    <input type="submit" id="login" value="Register"/>
</form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script type="text/javascript">
        ftask_form("#register-form",
                   function(data) {
                        alert("ERROR");
                   });
    </script>
{% endblock %}
